/* Base */
body {
  background-color: #000;
  color: #fff;
  font-family: monospace, Arial, sans-serif;
  margin: 0;
}

/* Header */
header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 20px;
  background: #0a0a0a;
  border-bottom: 2px solid #04d9ff;
}

header img {
  width: 150px;
  position: absolute;
  left: 20px;
}

header h1 {
  margin: 0;
  font-size: 2rem;
  text-align: center;
  color: #04d9ff;
}

/* Hero */
.hero {
  height: 90vh;
  background: url("imagens/cyberseguranca.webp") no-repeat center center/cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
}

.hero-content {
  position: relative;
  z-index: 2;
  max-width: 800px;
}

.hero-content h2 {
  font-size: 3rem;
  margin-bottom: 15px;
  color: #04d9ff;
}

.hero-content p {
  font-size: 1.2rem;
  margin-bottom: 25px;
}

/* Botões */
.cta, .cta-secondary {
  display: inline-block;
  margin: 10px;
  padding: 15px 25px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.cta {
  background: #04d9ff;
  color: #000;
}

.cta:hover {
  background: #00aaff;
  transform: scale(1.05);
}

.cta-secondary {
  background: transparent;
  border: 2px solid #04d9ff;
  color: #04d9ff;
}

.cta-secondary:hover {
  background: #04d9ff;
  color: #000;
  transform: scale(1.05);
}

/* Seções */
section {
  padding: 60px 20px;
  text-align: center;
}

.sobre p {
    font-family: Arial;
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.6;
}

/* Diferenciais */
.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background: #111;
  border: 1px solid #04d9ff;
  border-radius: 12px;
  padding: 20px;
  width: 280px;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px #04d9ff;
}

.card p {
   font-family: Arial;
}
/* Rodapé */
footer {
  background: #0a0a0a;
  text-align: center;
  padding: 15px;
  border-top: 2px solid #04d9ff;
}
