body {
    background-color: #000;
    color: #04d9ff;
    font-family: monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
header{
    display: flex;
    justify-content: right;
    align-items: right;
}

.terminal {
    width: 900px;
    background: #000;
    padding: 20px;
    border: 2px solid #04d9ff;
    border-radius: 10px;
    box-shadow: 0 0 20px #04d9ff;
}

.dica {
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 8px 12px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8); /* Fundo semi-transparente */
    color: #333; /* Cor do texto mais suave */
    font-size: 12px; /* Texto menor */
    font-family: Arial, sans-serif; /* Fonte mais limpa */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra mais leve */
    z-index: 1000;
    transition: opacity 0.3s ease; /* Transição suave para hover */
}

.dica:hover {
    opacity: 0.8; /* Torna o balão mais discreto ao passar o mouse */
}

.output {
    min-height: 100px;
    white-space: pre-line;
    margin-bottom: 10px;
}

input {
    width: 100%;
    background: black;
    border: none;
    color: #04d9ff;
    font-family: monospace;
    font-size: 16px;
    outline: none;
}

.blink {
    animation: blink 1s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
